transformers==4.47.0
sentence-transformers==3.3.1
huggingface_hub==0.27.0
langchain==0.3.12
langchain-community==0.3.12
langchain_huggingface==0.1.2
pinecone-client
flask==3.1.0
pypdf
python-dotenv
accelerate==1.2.1

-e .
